<div class="container-fluid" style="border-bottom: 2px solid #F3F3F3;">
  <!-- Chat Navigation -->
  <div class="row">
    <div class="col-lg-9">

    </div>

    <!-- Icons for the chat tab -->
    <div class="col-lg-3 text-right" style="padding:10px">
      <div>
        <span style="cursor: pointer" style="padding:5px"><img src="../../../assets/icons/phone.PNG" alt="Phone"></span>
        <span style="cursor: pointer" style="padding:5px"><img src="../../../assets/icons/videocall.PNG" alt="Video Call"></span>
        <span style="cursor: pointer" style="padding:5px"><img src="../../../assets/icons/info.PNG" alt="Chat Information"></span>
      </div>
    </div>

  </div>

</div>
