img:hover {
  opacity:0.5;
}
.form-control {
  border: 0;
}
.no-border {
  border: 0;
  box-shadow: none;
}

/*
--------------------------
Chat Bubbles
--------------------------
*/
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li{
  display:inline-block;
  clear: both;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 2px;
}
.other{
  background: #eee;
  float: left;
  margin-left:8px;
}
.other-clear{
  float: left;
  margin-left:8px;
}
.me{
  float: right;
  background: #0084ff;
  color: #fff;
  margin-right:8px;
}
.other + .me{
  border-bottom-right-radius: 5px;
}
.me + .other{
  border-bottom-left-radius: 5px;
}
.me + .me{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.other + .other{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.me:last-of-type {
  border-bottom-right-radius: 30px;
}
/*
-------------------
Scrollbar
-------------------
*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
