 <!-- Chat Navigation -->
<div class="row" style="border-bottom: 2px solid #F3F3F3; padding:3px;">
  <div class="col-lg-10" style="padding:10px">
    <h2 class="text-lg-center" style="font-size:13pt">{{selectedFriend.firstName}} {{selectedFriend.lastName}}</h2>
  </div>

  <!-- Icons for the chat tab -->
  <div class="col-lg-2 text-right" style="padding:10px">
    <div>
      <span style="cursor: pointer; padding:3px"><img src="../../../assets/icons/phone.PNG" alt="Phone"></span>
      <span style="cursor: pointer; padding:3px"><img src="../../../assets/icons/videocall.PNG" alt="Video Call"></span>
      <span style="cursor: pointer; padding:3px"><img src="../../../assets/icons/info.PNG" alt="Chat Information"></span>
    </div>
  </div>
</div>

<!--Actual Chat Box-->

<div class="row" >
    <div class="col-lg-12">

      <!--A container that will display the messages-->
      <div style="max-height:88.2vh;min-height:88.2vh;overflow-y:scroll;">
        <br>
        <!-- Use an NGFOR -->
          <ul *ngFor = "let m of this.chatService.messageLog" >
            <li *ngIf='m.type==1 && m.body!="(y)"' class="other">{{m.body}}</li>
            <li *ngIf='m.type==0 && m.body!="(y)"' class="me">{{m.body}}</li>
            <li *ngIf='m.type==1 && m.body=="(y)"' class="other">
              <img src="../../../assets/icons/like.png" style="width:30px;display:block;margin:auto">
            </li>
            <li *ngIf='m.type==0 && m.body=="(y)"' class="me">
                <img src="../../../assets/icons/like.png" style="width:30px;display:block;margin:auto">
            </li>
          </ul>
      </div>

      <!--Input box to send messages-->
      <div class="row" style="border-top: 2px solid #F3F3F3;">
        <div class="input-group mb-3" >
          <input id="res" type="text" class="form-control no-border" placeholder="Type a message..." (keyup.enter)="sendMessage($event)" value=''>
          <div class="input-group-append">
            <span style="cursor: pointer; padding:5px"><img src="../../../assets/icons/thumbsup.PNG" alt="Thumbs Up" (click)="thumbsUp()"></span>
          </div>
        </div>
      </div>

    </div>
</div>

