 <!-- Chat Navigation -->
<div class="row" style="border-bottom: 2px solid #F3F3F3; padding:3px;">
  <div class="col-lg-9" style="padding:10px">
    <h2 class="text-center" style="font-size:13pt">Test User</h2>
  </div>

  <!-- Icons for the chat tab -->
  <div class="col-lg-3 text-right" style="padding:10px">
    <div>
      <span style="cursor: pointer" style="padding:5px"><img src="../../../assets/icons/phone.PNG" alt="Phone"></span>
      <span style="cursor: pointer" style="padding:5px"><img src="../../../assets/icons/videocall.PNG" alt="Video Call"></span>
      <span style="cursor: pointer" style="padding:5px"><img src="../../../assets/icons/info.PNG" alt="Chat Information"></span>
    </div>
  </div>
</div>
