<!-- Messenger Toolbar-->
<div class="row" id="messagenav">
  <div class="col-lg-2">
    <div class="dropdown">
      <span style="cursor: pointer"><img src="../../../assets/icons/gear.PNG" alt="Settings"></span>
    </div>
  </div>
  <div class="col-lg-8 text-center">
    <h2 style="font-size:15pt">Messenger</h2>
  </div>
  <div class="col-lg-2">
    <span style="cursor: pointer"><img src="../../../assets/icons/new-message.PNG" alt="New Message"></span>
  </div>
</div>
<!-- Search Bar-->
<div class="row" id="searchbar">
  <div class="col-lg-12">
    <div class="input-group">
      <input class="form-control py-2 border text-center" type="search" placeholder="Search Messenger" id="example-search-input">
    </div>
  </div>
<!-- List of Messages-->
<div class="row flex-fill w-100" id="messages">
  <div class="col-lg-12" id="scroll">
    <app-friends></app-friends>
    <app-friends></app-friends>
    <app-friends></app-friends>
    <app-friends></app-friends>
  </div>
</div>
</div>


