<div class="row">
  <!-- Logo -->
  <div class="col-lg-12 text-center" style="padding:5px">
      <img src="../../../assets/logo.png" style="width:10%">
  </div>
  <!--Title -->
  <div class="col-lg-12 text-center" style="padding:20px">
      <p id="title">Messenger</p>
  </div>
  <!--Information-->
  <div class="col-lg-12 text-center">
      <p id="message">Instantly connect with people in your life</p>
      <p id="message" style="padding:10px">Sign in with Facebook to get started</p>
  </div>
  <!--Input Fields-->
  <div class="col-lg-4 text-center" style="display:block;margin:auto;">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Email or phone number" >
    </div>
    <div class="form-group">
      <input type="password" class="form-control"  placeholder="Password" >
      </div>
  </div>
  <!--Sign In Button-->
  <div class="col-lg-12 text-center">
      <button type="button" class="btn btn-primary" style="height:50px;width:330px;"><strong>Sign In</strong></button>
  </div>

</div>
