<!-- Temp Navigation -->
<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">For Developers</a>
      </li>
    </ul>
</nav>

<br><br>

<!-- Main Content -->
<div class="row">
  <div class="col-lg-2">
    <!--EMPTY DIV FOR SPACING-->
  </div>
  <div class="col">
      <app-login></app-login>
  </div>
  <div class="col">
    <img src="../../assets/landingImage.png">
  </div>
  <div class="col-lg-1">
    <!--EMPTY DIV FOR SPACING-->
  </div>
</div>
