<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">For Developers</a>
      </li>
    </ul>
  </nav>
  <br><br>
  <div class="row">
      <div id="login" class="col">
          <app-login></app-login>
      </div>
      <div id="picture" class="col text-center">
          <img src="../../assets/landingImage.png">
      </div>
  </div>

