<div class="modal-header">
  <h4 class="modal-title">Settings</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cancel click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div  class="text-center">
    <img src="../../../assets/avatar.png">
  </div>
  <div class="form-group">
    <h2>First Name</h2>
    <input [(ngModel)]="user.firstName" type="text" class="form-control" placeholder="First Name" style="height:45px" required="true">
  </div>
  <div class="form-group">
    <h2>Last Name</h2>
    <input [(ngModel)]="user.lastName" type="text" class="form-control"  placeholder="Last Name" style="height:45px" required="true">
  </div>
  <div class="form-group">
    <h2>Email</h2>
    <input [(ngModel)]="user.email" type="text" class="form-control"  placeholder="Email" style="height:45px" required="true" >
  </div>
  <div class="form-group">
    <h2>Password</h2>
    <input [(ngModel)]="user.password" type="password" class="form-control"  placeholder="Password" style="height:45px" required="true">
  </div>
  <div class="text-center">
      <button (click)="logout()" type="button" class="btn btn-outline-danger">Log Out</button>
  </div>
</div>

